<!-- <p>settings works!</p> -->
<p-tabView>
  <p-tabPanel header="Profile">
    <app-profile-settings></app-profile-settings>
  </p-tabPanel>
  <!-- <p-tabPanel header="Account">
    <app-account></app-account>
  </p-tabPanel>
  <p-tabPanel header="Security">
    <app-security></app-security>
  </p-tabPanel>
  <p-tabPanel header="Notifications">
    <app-notifications></app-notifications>
  </p-tabPanel>
  <p-tabPanel header="Privacy">
    <app-privacy></app-privacy>
  </p-tabPanel>
  <p-tabPanel header="Billing">
    <app-billing></app-billing>
  </p-tabPanel>
  <p-tabPanel header="Help">
    <app-help></app-help>
  </p-tabPanel> -->
</p-tabView>
